In [1]:
import pandas as pd
import mysql.connector

# MySQL 연결 설정
db = mysql.connector.connect(
    host="localhost",   # MySQL 서버 주소
    user="root",  # MySQL 사용자명
    password="1223",  # MySQL 비밀번호
    database="webproject"  # 사용할 데이터베이스
)

cursor = db.cursor()

# 엑셀 파일 불러오기
excel_file = "graph_1.xlsx"

# 각 시트를 pandas 데이터프레임으로 로드
sheet1 = pd.read_excel(excel_file, sheet_name='P1 개정도', header=None)  # 첫 번째 시트
sheet2 = pd.read_excel(excel_file, sheet_name='P2 개정도', header=None)  # 두 번째 시트
sheet3 = pd.read_excel(excel_file, sheet_name='P3 개정도', header=None)  # 세 번째 시트

# 각 시트를 MySQL 테이블에 삽입하는 함수
def insert_into_table(df, table_name):
    for _, row in df.iterrows():
        sql = f"INSERT INTO {table_name} (프로젝트번호, 출도부서, 근원부서, 원인코드) VALUES (%s, %s, %s, %s)"
        cursor.execute(sql, tuple(row))
    db.commit()

# 데이터 삽입 (p1, p2, p3 테이블에 각 시트 삽입)
insert_into_table(sheet1, 'number1_p1')
insert_into_table(sheet2, 'number1_p2')
insert_into_table(sheet3, 'number1_p3')

# MySQL 연결 종료
cursor.close()
db.close()

ProgrammingError: Not all parameters were used in the SQL statement